:root{
	--background-colour : rgba(250, 206, 127, 0.8);
    --card-colour: rgba(236, 200, 133, .7);	
	--header-colour : rgb(145, 31, 39);			
	--emphasis-1 : rgb(99, 10, 16);				
    --emphasis-1-faded: rgba(99, 10, 16, 0.3);
	--emphasis-2: rgb(252, 240, 200);	
    --emphasis-2-faded: rgba(252, 240, 200, 0.2);	
    --emphasis-3: rgb(78, 72, 66);
    --emphasis-3-faded: rgba(78, 72, 66, 0.2);			
}

body{
    background-color: var(--background-colour);
    color: var(--emphasis-1);
    background-image: url("../images/background.webp"); /*fast drawing PNG Designed By pngtree 6843833 from https://pngtree.com/freepng/fast-food-seamless-background-with-ice-cream-burger-chocolate-pizza-french-fries-sweets-vector-pattern_5082565.html?sol=downref&id=bef */
}

#info{
    background-color: var(--card-colour);
    height: 600px;
}

#str_info{
    margin-right: 10%;
    padding-left: 30px;
    border-radius: 15px;
    height: 350;
}

#add{
    margin-left: 10%;
    padding-left: 13px;
    border-radius: 15px;
}

#items_table{
    border-radius: 15px;
}

#cart{
    background-color: var(--card-colour);
    border-radius: 10px 10px 5px 5px;
}

#cart_info{
    background-color: var(--card-colour);
    border-radius: 0px 0px 10px 10px;
}

.background{
    background-color: var(--card-colour);
}

.btn-primary{
    --bs-btn-bg: var(--header-colour);
    --bs-btn-border-color: var(--header-colour);

    --bs-btn-hover-bg: var(--emphasis-1);
    --bs-btn-hover-border-color: var(--emphasis-1);

    --bs-btn-active-bg: var(--header-colour);
    --bs-btn-active-border-color: var(--header-colour);

    --bs-btn-disabled-bg: var(--emphasis-1-faded);
    --bs-btn-disabled-border-color: var(--emphasis-2-faded);

    --bs-btn-color: var(--emphasis-2);
    --bs-btn-hover-color: var(--emphasis-2);
    --bs-btn-active-color: var(--emphasis-2);
    --bs-btn-disabled-color: var(--emphasis-2);
}

.btn-secondary{
    --bs-btn-bg: var(--emphasis-3);
    --bs-btn-border-color: var(--emphasis-3);

    --bs-btn-color: var(--emphasis-2);
    --bs-btn-hover-color: var(--emphasis-2);
    --bs-btn-active-color: var(--emphasis-2);
    --bs-btn-disabled-color: var(--emphasis-2);
}

.card{
    background-color: var(--card-colour);
    border: var(--bs-card-border-width) solid var(--emphasis-2-faded);
    color: var(--emphasis-1)
}

.navbar{
    --bs-navbar-color: var(--emphasis-2);
    --bs-navbar-hover-color: var(--emphasis-2-faded);
    --bs-navbar-active-color: var(--emphasis-2-faded);
}

nav.navbar.navbar-expand-lg.bg.fixed-top{
    height: 50px;
}

.navbar-brand{
    color: var(--emphasis-2);
}

.modal{
    --bs-modal-bg: var(--emphasis-2);
    --bs-modal-color: var(--emphasis-1);
    --bs-modal-footer-border-color: none;
    --bs-modal-header-border-color: none;
}

.bg{
    background-color: var(--header-colour);
}

th, td { border-bottom: 1px solid var(--emphasis-1);}
.item_picture {width: 100%; aspect-ratio: 1/1; object-fit: cover;}
.cart_picture {width: 20%; aspect-ratio: 1/1; object-fit: cover;}

.m-border{border-radius:0 5px 5px 0 !important;}

.border-top{border-top: var(--bs-border-width) var(--bs-border-style) var(--emphasis-1)!important;}
.border-bottom {border-bottom: var(--bs-border-width) var(--bs-border-style) var(--emphasis-1)!important;}

.colour{color: var(--emphasis-1);}